%div{:id => 'z-alert-bar', :class => "pull-right alert-message block-message error fade in", :data => {:alert => "alert"}}
  %a{:class => "close", :href => "#"} X
  %p Failed to add feed: #{locals[:error]}
