%div{:class => 'content', :id => 'feed-display-area'}
  %div{:class => 'row'}
    - locals[:feed_entries].each do |feed_entry|
      %div{:class => 'span16', :id => feed_entry.key}
        %h2= feed_entry.title.chomp
        %p= feed_entry.content
        %hr
