%div{:class => "sidebar"}
  %h4 Feeds
  %div{:class => 'row', :id => 'z-feed-list'}
  - require 'uri'
  - locals[:feeds].each do |feed|
    - feed_title = feed.title || URI.parse(feed.feed_url).host
    %div{:class => "span8"}
      %strong{:data => {:feed_id => feed.key }}= "- #{feed_title}"
      %span{:class => "label notice"}= "#{feed.feed_entries.size}"
