%div{:class => "content"}
  %div{:class => "hero-unit"}
    %h1 ZombieRSS
    %hr
    %h3 ZombieRSS is an experiment using:
    %ul{:class => "unstyled"}
      %li Sinatra
      %li Haml
      %li JQuery
      %li Twitter Bootstrap
      %li Riak
