= partial :_sidebar, {:feeds => locals[:feeds]}
%div{:class => 'content', :id => 'feed-display-area'}
  %h1 Feed Overview
  %hr
  %div{:class => 'row'}
    - locals[:feeds].each do |feed|
    - sample_entry = feed.feed_entries.first
      %div{:class => 'span16'}
        %h2{:class => 'label'}= feed.title || URI.parse(feed.feed_url).host
        %h3= sample_entry.title
