= partial :_sidebar, {:feeds => locals[:feeds]}
%div{:class => 'content', :id => 'feed-display-area'}
  %h1 Feed Overview
  - locals[:feeds].each do |feed|
  - sample_entry = feed.feed_entries.first
    %span{:class => 'label span9'}= feed.title || URI.parse(feed.feed_url).host
    %br
      %div{:class => 'span16'}
        %h3= sample_entry.title

