!!! HTML
%html
  %head

    %title ZombieRss Feed Reader
    %link{:rel => "stylesheet", :href => "/bootstrap.css"}
    %style{:type => "text/css"}
      :plain
        body {
          padding-top: 60px;
        }
    %script{:src => "/js/jquery.min.js"}
    - %w{modal alerts dropdown scrollspy tabs twipsy popover}.each do |filename|
      %script{:src => "/js/bootstrap-#{filename}.js"}
    %script{:src => "/js/zombie.js"}
    %script{:src => "/js/zombie.js"}

  %body

    %div{:class => "topbar"}
      %div{:class => "topbar-inner"}
        %div{:class => "container-fluid"}
          %a{:class => "brand", :href => "/"} ZombieRss
          %ul{:class => "nav"}
            %li
              %a{:href => "/feeds"} Feeds
            %li
              %a{:href => "/update"} Update
            %li
              %a{:href => "/about"} About

          %form{:class => "pull-right", :id => "add_feed_form"}
            %input{:class => "input-xlarge", :type => "text", :id => "add_feed_input"}
            //%button{:class => "btn disabled", :type => "submit", :id => "add_feed_button"} Add Feed
            %a{:href => "#", :class =>"btn", :rel => "popover", :data => {:content => "Soon grasshopper!", "original-title" => "Almost ready"}} Add Feed

    %div{:class => "container-fluid"}
      = yield

    %footer
      %p{:align => "center"}
        &copy; John E. Vincent (@lusis) /
        %a{:href => "http://blog.lusis.org"} blog.lusis.org
