%html
  %head
    %title ZombieRss Feed Reader
    %link{:rel => "stylesheet", :href => "/bootstrap.css"}

    %script{:src => "/js/jquery-min.js"}
    %script{:src => "/js/bootstrap-modal.js"}
    %script{:src => "/js/bootstrap-alerts.js"}
    %script{:src => "/js/bootstrap-twipsy.js"}
    %script{:src => "/js/bootstrap-popover.js"}
    %script{:src => "/js/bootstrap-dropdown.js"}
    %script{:src => "/js/bootstrap-scrollspy.js"}
    %script{:src => "/js/boostrap-tabs.js"}

    %body

      %div{:class => "topbar"}
        %div{:class => "fill"}
          %div{:class => "container"}
            %a{:class => "brand", :href => "/"} ZombieRss
            %ul{:class => "nav"}
              %li
                %a{:href => "/"} All Feeds
              %li
                %a{:href => "/add"} Add Feed
              %li
                %a{:href => "/about"} About

      %div{:class => "container"}
        %div{:class => "content"}
          %div{:class => "page-header"}
            %h1
              Woot!
        = yield

        %footer
          %p{:align => "center"}
            &copy; John E. Vincent (@lusis) /
            %a{:href => "http://blog.lusis.org"}
              blog.lusis.org
