!!! HTML
%html
  %head

    %title ZombieRss Feed Reader
    %link{:rel => "stylesheet", :href => "/bootstrap.css"}
    %style{:type => "text/css"}
      :plain
        body {
          padding-top: 60px;
        }
    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/zombie.js"}

  %body

    %div{:class => "topbar"}
      %div{:class => "topbar-inner"}
        %div{:class => "container-fluid"}
          %a{:class => "brand", :href => "/"} ZombieRss
          %ul{:class => "nav"}
            %li
              %a{:href => "/feeds"} Feeds
            %li
              %a{:href => "/about"} About

          %form{:class => "pull-right"}
            %input{:class => "input-xlarge", :type => "text"}
            %button{:class => "btn disabled", :type => "submit"} Add Feed

    %div{:class => "container-fluid"}
      = yield

    %footer
      %p{:align => "center"}
        &copy; John E. Vincent (@lusis) /
        %a{:href => "http://blog.lusis.org"} blog.lusis.org
